/* colores usados
#F9EFC9
#FFA460
black

*/
/* fuentes externas */
/*       */
/*Satisfy*/@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Kalam&family=Satisfy&family=Sriracha&display=swap');
/*Kalam  */@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
    padding: 150px 0 0 0;
	background: #F9EFC9;
	font-family: Kalam;
}

header {
	background-image: url("../img/logos/fondo.jpg");
	background-size: 65%;
	/*background: #FFA460;*/
	height: 8%;
	position: fixed;
    top: 0;
    width: 100%;
    /*padding: 15px 20px;*/
}

.navbar1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
}

.marca {
	margin-left: 1em;
	font-family: 'Dancing Script';
	font-weight: bolder;
}
.marca h1{

    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}
.marca p {
	font-family: Kalam;
	font-size: 1.2rem;
	margin-bottom: 0;
}

.logo img {
	width:  5em;
}

.galeria{
	/*padding: 400px 0 0 0;*/
	/*margin: 0.35rem;
	padding: 0.35rem;*/
	display: flex;
	box-sizing: border-box;
	justify-content: center;
}
.galeria2{
	margin-left: 2em;
	display: block;
	text-align: center;
}
ol{
	margin: 0.5rem;
	padding: 0.5rem;
	box-sizing: border-box;
}
ul {
	margin-right: 1em;
	min-width: 500px;
	display: flex;
	justify-content: flex-end;
	gap:  20px;
}

ul li {
	list-style: none;
	font-family: Kalam;
	font-size: 1.2em;
	font-weight: bold;
}

a {
	text-decoration: none;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
}


.principal{
	font-size: 2rem;
	margin: 0 3rem 0 3rem;
}

.alimentacion{/* index.html */
	font-size: 1.7rem;
	list-style: disc;
	margin-left: 7rem;

}

.recetas2{
	margin: 0.5rem;
	padding: 0.5rem;
	display: block;
	font-size: 1.2rem;
	justify-content: flex-start;
}
footer{
	font-family: 'Dancing Script';
	display: flex;
	justify-content: flex-end;
}



contacto {
	display: block;
	text-align: center;
}
contacto2{
	display: block;
	text-align: center;
}


@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (min-width: 500px) and (max-width: 800px) {
	ul {
		flex-direction: column;
		align-items: flex-start;
	}
}

