/* colores usados
#F9EFC9
#FFA460
black

*/
/* fuentes externas */
/*       */
/*Satisfy*/@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Kalam&family=Satisfy&family=Sriracha&display=swap');
/*Kalam  */@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/* VARIABLES */
:root {
	--colorbarra: #FFA460; /* BARRA DE NAVEGACIÓN */
	--colorbody: #F9EFC9; /* BODY */
	--colorboton: #6FAE46; /* BOTON */
	--colortexto: black; /* TEXTO */
	--colorfondo: #F0F4F9; /* FONDO */
	--fuente1: 'Dancing Script';
	--fuente2: Kalam;
	--grande:  50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	list-style: none;
}

a {
	color: var(--colortexto);
	text-decoration: none;
}

body {
	margin-top: 0;
	background: var(--colorbody);
	font-family: var(--fuente2);
	position: relative;
	padding-bottom: 3em;
	min-height: 100vh;
}



.barra {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--colorbarra);
	padding: 0 10px;
	top:0;
	width: 100%;
	color: var(--colortexto);
}

.barra_marca {
	display: flex;
	align-items: center;
}

.marca_logo {
	height: 50px;
	padding: 5px;
}

.marca_negocio {
	font-family: var(--fuente2);
	font-size: 18px;
}

.marca_nombre {
	margin-left: 5px;
	font-weight: 800;
	font-family: var(--fuente1);
	font-size: 18px;
}

.barra_links .link {
	font-family: var(--fuente2);
	color: var(--colorfondo);
	padding: 0 10px;
	height: 35px;
	border-radius: 3px;
	border: 2px solid var(--colorbarra);
	transition: 0.5s linear;
	color: var(--colortexto);

}

.barra_links .icono {
	color: var(--colortexto);
	padding: 0 5px;
	height: 35px;
	transition: 0.3s linear;
	margin-right: 1em;
}

.barra_links .link:hover {
	border: 2px solid var(--colorboton);
}
.barra_links .icono:hover {
	color: var(--colorboton);
}

.barra_dropdown {
	position: relative;
	display: none;
	width: 100px;
	text-align: center;


	.dropdown_boton i {
		background: var(--colorbarra);
		color: var(--colortexto);
		cursor:  pointer;
		width: 100px;
		height: 35px;
		font-size: 30px;
	}

	.dropdown_links {
		display: none;
		position: absolute;
		background: var(--colorbarra);
		min-width: 100px;			
		z-index: 1;
	}

	.dropdown_links .link {
		padding: 12px 16px;
		color: var(--colortexto);
		display: block;
	}

	.dropdown_links .link:hover {
		background: var(--colorboton);
		color: var(--colortexto);
	}

	.dropdown_contacto {
		padding-bottom: 5px;
	}

	.dropdown_contacto .icono {
		padding: 5px;
		color: var(--colortexto);
	}

	.dropdown_contacto .icono:hover {
		padding: 5px;
		color: var(--colorboton);
	}
}

.barra_dropdown:hover .dropdown_links {
	display: block;
}

.galeria{
	margin-top: 20px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
}
.galeria2{
	margin-top: 100px;
	margin-left: 2em;
	display: block;
	text-align: center;
}
li{
		list-style: disc;
	}

.recetas2{
	margin: 0.5rem;
	padding: 0.5rem;
	display: block;
	font-size: 1.2rem;
	justify-content: flex-start;
}

main{
	margin-top: 20px;
	margin-left: 2em;
}

#PanQueso, #Tiramisu, #TortaManzana{
	min-height: 100vh;
}


contacto {
	margin-top: 100px;
	display: block;
	text-align: center;
}
contacto2{
	display: block;
	text-align: center;
}

footer{
	background: var(--colorbarra);
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;
}

/* ir arriba */
.ir-arriba {
  display:none;
  padding:20px;
  background:var(--colorbarra);
  font-size:20px;
  color:var(--colortexto);
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}

/* datos BOTON */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kk6l63');
  src:  url('../fonts/icomoon.eot?kk6l63#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kk6l63') format('truetype'),
    url('../fonts/icomoon.woff?kk6l63') format('woff'),
    url('../fonts/icomoon.svg?kk6l63#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

@media (max-width: 576px) {
	.marca_negocio{
		font-size: 0.95em;
	}

	.marca_nombre{
		margin-left: 0.35em;
		font-size: 0.95em;
	}

	.barra .barra_links {
		display: none;
	}

	.barra .barra_dropdown {
		display: block;
	}
	.principal{
		font-size: 1.3em;
	}

	.alimentacion{
		font-size: 1.3em;
		margin-left: 2em;
	}
}

/* Mediano */
@media (min-width: 577px) and (max-width: 1000px) {

	.marca_negocio{
			font-size: 1.4em;
	}

	.marca_nombre{
		margin-left: 0.5em;
		font-size: 1.4em;
	}

	.barra .barra_links {
		display: none;
	}

	.barra .barra_dropdown {
		display: block;
	}
	.principal{
		font-size: 1.5em;
	}

	.alimentacion{
		font-size: 1.5em;
		margin-left: 2em;
	}
	.recetas2{
		font-size: 1.4em;
	}
	#PanQueso, #Tiramisu, #TortaManzana{
		font-size: 1.2em;
	}
}

/* Largo */
@media (min-width: 1001px) {
	.marca_negocio{
		font-size: 2em;
	}

	.marca_nombre{
		margin-left: 0.5em;
		font-size: 2em;
	}

	.principal{
		font-size: 1.7em;
	}

	.alimentacion{
		font-size: 1.7em;
		margin-left: 3em;
	}
	.recetas2{
		font-size: 1.5em;
	}
	#PanQueso, #Tiramisu, #TortaManzana{
		font-size: 1.4em;
	}
}